---
import { beautyConfig } from "@/types/config";
import { backgroundUrl } from "@/utils/get-bg-url";

const bgCfg = beautyConfig.background;
const bgImgCfg = bgCfg.image;
const bgColorCfg = bgCfg.color;

// svg 自定义颜色
const bgSvgColor = bgImgCfg.svgColor;

// ---------- 图片层样式 ----------
let imageLayerStyle = "";
if (bgImgCfg.enable && backgroundUrl) {
    if (bgImgCfg.fill) {
        imageLayerStyle = "background-size: cover;"
    } else if (bgImgCfg["repeat-x"] && bgImgCfg["repeat-y"]) {
        imageLayerStyle = "background-repeat: repeat;"
    } else {
        if (bgImgCfg["repeat-x"] && !bgImgCfg["repeat-y"]) {
            imageLayerStyle = "background-repeat: repeat-x;"
        } else if (!bgImgCfg["repeat-x"] && bgImgCfg["repeat-y"]) {
            imageLayerStyle = "background-repeat: repeat-y;"
        } else {
            imageLayerStyle = "background-repeat: no-repeat;"
        }
    }

    if (backgroundUrl.endsWith("svg") && bgSvgColor) {
        imageLayerStyle += `-webkit-mask-image: url(${backgroundUrl}); background-position: center;`;
		imageLayerStyle += `background-color: ${bgSvgColor};`;
	} else {
        imageLayerStyle += `background-image: url(${backgroundUrl}); background-position: center;`
    }
}

// ---------- 颜色层样式 ----------
let colorLayerStyle = "";
let hasColorLayer = false;

if (bgColorCfg.enable) {
	if (bgColorCfg.linear && bgColorCfg.colors.length >= 2) {
		colorLayerStyle = `background-image: var(--bg-linear)`;
		hasColorLayer = true;
	} else if (bgColorCfg.colors.length >= 1) {
		colorLayerStyle = `background-color: ${bgColorCfg.colors[0]};`;
		hasColorLayer = true;
	}
}
---


<style>
    /* 背景层样式 */
    .bg-layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* 背景不阻挡内容 */
    }

    /* 图片层 */
    .bg-image-layer {
        z-index: 0;
        
    }

    /* 颜色层*/
    .bg-color-layer {
        z-index: 1;
        filter: blur(var(--bg-blur));
    }

    /* 内容层 */
    .content-layer {
        position: relative;
        min-height: 100vh;
        z-index: 2;
    }
</style>

{
    hasColorLayer ? (
        <div class="bg-layer bg-color-layer" style={colorLayerStyle} aria-hidden="true">
            <div class="bg-layer bg-image-layer" style={imageLayerStyle} aria-hidden="true"/>
        </div>
    ) : (
        <div class="bg-layer bg-image-layer" style={imageLayerStyle} aria-hidden="true"></div>
    )
}

<!-- 内容层 -->
<div class="content-layer">
    <slot />
</div>
