---
import type { MarkdownHeading } from "astro";
import Layout from "./Layout.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Props {
	title?: string;
	banner?: string;
	description?: string;
	lang?: string;
	setOGTypeArticle?: boolean;
	headings?: MarkdownHeading[];
}

const {
	title,
	banner,
	description,
	lang,
	setOGTypeArticle,
} = Astro.props;
---

<Layout title={title} banner={banner} description={description} lang={lang} setOGTypeArticle={setOGTypeArticle}>
    
<!-- Navbar -->
<slot slot="head" name="head"></slot>
<div id="top-row" class="z-50 pointer-events-none relative transition-all duration-700 max-w-[var(--page-width)] px-0 md:px-4 mx-auto" class:list={[""]}>
    <div id="navbar-wrapper" class="pointer-events-auto sticky top-0 transition-all">
        <Navbar></Navbar>
    </div>
</div>


<!-- Main content -->
<div class="absolute w-full z-30 pointer-events-none">
    <!-- The pointer-events-none here prevent blocking the click event of the TOC -->
    <div class="relative max-w-[var(--page-width)] mx-auto pointer-events-auto">
        <main id="swup-container" class="mx-[20px] transition-swup-fade col-span-2 lg:col-span-1 overflow-hidden">
            <div id="content-wrapper">
                <!-- the overflow-hidden here prevent long text break the layout-->
                <!-- make id different from windows.swup global property -->
                <slot></slot>
                <div class="footer col-span-2 hidden lg:block">
                    <Footer></Footer>
                </div>
            </div>
            <div class="footer col-span-2 block lg:hidden">
                <Footer></Footer>
            </div>
        </main>
    </div>
</div>


</Layout>
